<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taotao.mapper.TbItemMapper">

    <update id="updateItemByIds">
        UPDATE tbitem SET status = #{type}, updated = #{date}
        <where>
            <foreach collection="ids" open="id in(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </where>
    </update>

    <select id="findTbItemSearch" resultType="int">
        SELECT count(*) FROM tbitem
        <where>
            <if test="title != '' || title != null">
                title LIKE "%${title}%"
            </if>
                and price BETWEEN #{priceMin} AND #{priceMax}
        </where>

    </select>

    <select id="findTbItemByDate" resultType="com.taotao.pojo.TbItem">
        SELECT * FROM tbitem
        <where>
            <if test="title != '' || title != null">
                title LIKE "%${title}%"
            </if>
            and price BETWEEN #{priceMin} AND #{priceMax}
        </where>
        limit #{page},#{limit}
    </select>







</mapper>
